.btn-container {
    color: #fff;
    text-decoration: none;
    margin-top: 9px;
    position: relative;
    margin-right: 20px;
}

#btnAumentar {
    color: #fff;
}

#btnDiminuir {
    color: #fff;
}